{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Major Project{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'my_app/styles.css' %}">
</head>

<body>

<header>

    {% if request.user.is_authenticated %}

  <div class="navbar">

    <!-- LEFT -->
    <div class="nav-left">
        <a href="{% url 'my_app:dashboard' %}" class="logo-link">
            <img src="{% static 'my_app/logo.png' %}"
                 alt="Xtend Logo"
                 class="navbar-logo">
        </a>
    </div>

    <!-- CENTER -->
    <div class="nav-center">
        <a href="{% url 'my_app:explore' %}">Explore</a>
        <a href="{% url 'my_app:injury_form' %}">Log</a>
        <a href="{% url 'my_app:profile' %}">Profile</a>
        <a href="{% url 'my_app:injury_history' %}">History</a>
    </div>

    <!-- RIGHT -->
    <div class="user-info">

        <span>{{ request.user.username }}</span>

        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

    </div>

</div>

    {% else %}

    <div class="navbar">

        <div class="nav-center">
            <a href="{% url 'users:login' %}">Login</a>
            <a href="{% url 'users:register' %}">Register</a>
        </div>

    </div>

    {% endif %}

</header>

<div class="page-container">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

</div>

<footer>
    <p>&copy; 2026 Oakhill College Year 12 Major Project</p>
</footer>

</body>
</html>