{% extends 'my_app/base.html' %}
{% load static %}
{% block title %}Login - My App{% endblock %}

{% block content %}
    <div class="login-container">
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
    
    <div>
        <a href="{% url 'admin:index' %}" target="_blank">Database Inspector</a><br>
        Username: <strong>project_admin</strong><br>
        Password: <strong>@dmin_p@ssword</strong>
    </div>
{% endblock %}